@model IEnumerable<Practica5.Models.Modulo2>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDEvento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDEvento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDEvento })
        </td>
    </tr>
}

</table>
